<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IWTNFCompleto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IWTNFCompleto.Properties.Settings>
            <setting name="IWTNFCompleto_NfeInutilizacao_NfeInutilizacao3"
                serializeAs="String">
                <value>https://nfe.sefa.pr.gov.br/nfe/NFeInutilizacao4</value>
            </setting>
            <setting name="IWTNFCompleto_NfeConsulta_NfeConsulta3" serializeAs="String">
                <value>https://nfe.sefaz.mt.gov.br/nfews/v2/services/NfeConsulta4</value>
            </setting>
            <setting name="IWTNFCompleto_NfeStatusServico_NfeStatusServico3"
                serializeAs="String">
                <value>https://nfe.sefa.pr.gov.br/nfe/NFeStatusServico4</value>
            </setting>
            <setting name="IWTNFCompleto_CadConsultaCadastro_CadConsultaCadastro2"
                serializeAs="String">
                <value>https://nfe.sefa.pr.gov.br/nfe/CadConsultaCadastro4</value>
            </setting>
            <setting name="IWTNFCompleto_RecepcaoEvento_RecepcaoEvento" serializeAs="String">
                <value>https://nfe.sefa.pr.gov.br/nfe/NFeRecepcaoEvento4</value>
            </setting>
            <setting name="IWTNFCompleto_NfeAutorizacao_NfeAutorizacao3"
                serializeAs="String">
                <value>https://nfe.sefa.pr.gov.br/nfe/NFeAutorizacao4</value>
            </setting>
            <setting name="IWTNFCompleto_NfeRetAutorizacao_NfeRetAutorizacao3"
                serializeAs="String">
                <value>https://nfe.sefa.pr.gov.br/nfe/NFeRetAutorizacao4</value>
            </setting>
            <setting name="IWTNFCompleto_MDFeStatusServico_MDFeStatusServico"
                serializeAs="String">
                <value>https://mdfe-hml.sefaz.rs.gov.br/ws/MDFeStatusServico/MDFeStatusServico.asmx</value>
            </setting>
            <setting name="IWTNFCompleto_MDFeRecepcao_MDFeRecepcao" serializeAs="String">
                <value>https://mdfe-hml.sefaz.rs.gov.br/ws/MDFerecepcao/MDFeRecepcao.asmx</value>
            </setting>
            <setting name="IWTNFCompleto_MDFeRetRecepcao_MDFeRetRecepcao"
                serializeAs="String">
                <value>https://mdfe-hml.sefaz.rs.gov.br/ws/MDFeRetRecepcao/MDFeRetRecepcao.asmx</value>
            </setting>
        </IWTNFCompleto.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
