<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glob.cs" version="4.0.166" targetFramework="net452" />
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net452" />
  <package id="System.IO.Abstractions" version="7.0.7" targetFramework="net452" />
  <package id="XmlSchemaClassGenerator.Console" version="3.0.1188" targetFramework="net452" />
  <package id="XmlSchemaClassGenerator-beta" version="2.0.322" targetFramework="net452" />
</packages>